<% include partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to CampGrounds</h1>
            <p>View our hand-picked Campgrounds from all over the World</p>
            <p>
                <a href="campgrounds/new" class="btn btn-primary btn-lg">Add your Own Campground?</a>
            </p>
        </div>
    </header>
    
    <div class="row text-center" style="display:flex; flex-wrap:wrap;">
        <% camp.forEach(function(camping){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= camping.image %>">
                    <div class="caption">
                        <h4> <%= camping.name %> </h4>
                    </div>
                    <p>
                        <a href="/campgrounds/<%= camping._id %>" class="btn btn-primary">More info</a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>
<% include partials/footer %>